.order-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 30px;
  padding-top: 45px;
  padding-bottom: 60px;

  .btn-submit {
    grid-column: 3;
  }
}

@media (max-width: 950px) {
  .order-form {
    grid-template-columns: 1fr;
    grid-template-rows: unset;

    .btn-submit {
      grid-column: 1;
    }
  }
}