.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 20px 0;

  &__logo {

  }

  &__menu {
    max-width: 370px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    list-style-type: none;
    padding: 0;


    .menu-item {
      .menu-link {
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        color: black;
      }

      .menu-link-active {
        color: #4C74B7;
      }
    }
  }
}
